body {
    background: url('../img/wallpaper_background.svg') repeat-x #3d3659; /* fixed is nicer, but slow in chrome */
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', sans-serif, verdana;
    font-size: 28px;
    color: #3d3659;
}

header {
    position: relative;
    margin: 60px auto;
    z-index: 2;
    
    background: url('../img/image_map.svg') no-repeat;
    height: 170px;
    width: 308px;
    background-position: 0px 0px;
    text-transform: uppercase;
}
    
    header h1 {
        color: #ffffff;
        font-family: verdana, sans-serif;
        font-weight: normal;
        font-size: 11px;
        position: relative;
        top: 174px;
        opacity: 0.5;
    }

    header div.lightning1 {
        position: absolute;
        top: 115px;
        left: 45px;
        
        background: url('../img/image_map.svg') no-repeat;
        height: 35px;
        width: 25px;
        background-position: -380px 0px;
    }
    
    header div.lightning2 {
        position: absolute;
        top: 115px;
        left: 190px;
        
        background: url('../img/image_map.svg') no-repeat;
        height: 35px;
        width: 25px;
        background-position: -406px 0px;
    }

div.moon {
    position: absolute;
    top: 350px;
    left: 260px;
    
    background: url('../img/image_map.svg') no-repeat;
    height: 56px;
    width: 51px;
    background-position: -506px -57px;    
}

div.cloud1 {
    top: 40px;
    left: -170px;
    
    background: url('../img/image_map.svg') no-repeat;
    height: 72px;
    width: 170px;
    background-position: -313px -103px;
}

div.cloud2 {
    top: 110px;
    left: -128px;
    
    background: url('../img/image_map.svg') no-repeat;
    height: 50px;
    width: 128px;
    background-position: -313px -43px;
    
    -webkit-animation-delay: 20s; /* Chrome, Safari, Opera */
    animation-delay: 20s;
}

div.cloud3 {
    top: 160px;
    left: -71px;
    
    background: url('../img/image_map.svg') no-repeat;
    height: 34px;
    width: 71px;
    background-position: -313px 0px;
    
    -webkit-animation-delay: 60s; /* Chrome, Safari, Opera */
    animation-delay: 60s;
}

div.cloud4 {
    top: 250px;
    left: -95px;
    
    background: url('../img/image_map.svg') no-repeat;
    height: 46px;
    width: 95px;
    background-position: -486px -126px;
    
    -webkit-animation-delay: 8s; /* Chrome, Safari, Opera */
    animation-delay: 8s;
}

.instance {
/*    float: left;
    margin: 0 0 0 100px;
*/
}

    .instance > div {
        margin: 0 auto;
        min-width: 308px;
        max-width: 500px;
    }
    
        .instance > div article {
            background: #FFFFFF;
            position: relative;
            text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
            min-height: 200px;
            line-height: 200px;
            
            margin: 45px auto;
            
            min-width: 308px;
            max-width: 500px;
        }
        
        .instance > div article p {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin-left: 40px;
            margin-right: 40px;
        }
        
        .instance > div article a.time {
            position: absolute;
            top: 3px;
            left: 3px;
            
            background: url('../img/image_map.svg') no-repeat;
            height: 35px;
            background-position: -455px -13px;
            
            line-height: normal;
            padding: 7px 0 0 30px;
            
            cursor: pointer;
            
            font-size: 20px;
            
            color: #BBBBBB;
        }
        
            main article a.time:hover {
                color: #000000;
            }
        
        .instance > div article a.close {
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            background: url('../img/image_map.svg') no-repeat;
            height: 40px;
            width: 45px;
            background-position: -452px -68px;
        }
        
        .instance > div article a.close:hover {
            cursor: pointer;
            -webkit-animation:spin 1s linear infinite;
            -moz-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
        }
        
        .instance > div article div.flap {
            position: absolute;
            bottom: -26px;
            right: 30px;
            
            background: url('../img/image_map.svg') no-repeat;
            height: 30px;
            width: 30px;
            background-position: -512px -20px;
        }

    .instance section {
        position: relative;
        background: #FFFFFF;
        position: relative;
        text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
        min-height: 200px;
        
        margin: 45px auto 100px auto;
        
        min-width: 308px;
        max-width: 500px;
        
        border-radius: 8px;
        line-height: 20px;
    }
    
        .instance section textarea {
            margin: 10px 0 0 0;
            height: 84px;
            width: 80%;
            border: none;
            text-align: center;
            border-radius: 5px;
            border: 2px solid #DDDDDD;
            font-family: 'Indie Flower', sans-serif, verdana;
            font-size: 28px;
            color: #3d3659;
            resize: none;
            background: none;
            
            padding: 30px;
        }
        
        .instance section .message-counter {
            font-size: 22px;
            position: absolute;
            bottom: -50px;
            left: 20px;
            color: #C2D3DB;
        }
        
        .instance section button {

            line-height: 28px;
            border-radius: 5px;
            background: #6D416D;
            color: #FFFFFF;
            border: none;
            font-family: 'Indie Flower', sans-serif, verdana;
            font-size: 20px;
            padding: 2px 8px;
        }
        
        .instance section button:hover {
            background: #3d3659;
            cursor: pointer;
            font-family: 'Indie Flower', sans-serif, verdana;
            font-size: 20px;
        }
        
        .instance section .big-bouble {
            position: absolute;
            bottom: -30px;
            right: 20px;
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background: #FFFFFF;
        }
        
        .instance section .small-bouble {
            position: absolute;
            bottom: -46px;
            right: 10px;
            width: 14px;
            height: 14px;
            border-radius: 7px;
            background: #FFFFFF;
        }

/* Animations */

.message-animation {
    -webkit-animation: fade-in 0.5s ease-out 0s 1;
    -moz-animation: fade-in 0.5s ease-out 0s 1;
    animation: fade-in 0.5s ease-out 0s 1;
}
    /* Fade in */
    @-moz-keyframes fade-in {
        from { transform: scale(0.8, 0.8); opacity: 0; }
        to { transform: scale(1, 1); opacity: 1; }        
    }

    @-webkit-keyframes fade-in {
        from { transform: scale(0.8, 0.8); opacity: 0; }
        to { transform: scale(1, 1); opacity: 1; }        
    }

    @keyframes fade-in {
        from { transform: scale(0.8, 0.8); opacity: 0; }
        to { transform: scale(1, 1); opacity: 1; }
    }

.spin-animation {
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

    /* Spin */
    @-moz-keyframes spin {
        100% { -moz-transform: rotateY(360deg); }
    }
    @-webkit-keyframes spin {
        100% { -webkit-transform: rotateY(360deg); }
    }
    @keyframes spin {
        100% { -webkit-transform: Yrotate(360deg); transform:rotateY(360deg); }
    }

.cloud-animation {
    opacity: 1;
    position: fixed;
    -webkit-animation:cloud 160s linear infinite;
    -moz-animation:cloud 160s linear infinite;
    animation:cloud 160s linear infinite;
}

    /* Cloud */
    @-moz-keyframes cloud {
        100% { -moz-transform: translate(2000px, 0); opacity: 0;}
    }
    @-webkit-keyframes cloud {
        100% { -webkit-transform: translate(2000px, 0); opacity: 0;}
    }
    @keyframes cloud {
        100% { -webkit-transform: translate(2000px, 0); transform:translate(2000px, 0); opacity: 0; }
    }
