
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {margin:0;padding:0;border: 0 none;position: relative;}

html {
	background: url('../img/wallpaper_background.png') repeat-x #3d3659 fixed; /* fixed is nicer, but slow in chrome */
	background-size: cover;
}

body {
    background: inherit;
    margin: 0;
    text-align: center;
    font-family: 'Dosis', sans-serif, verdana;
    font-size: 16px;
    color: #3d3659;
	overflow: hidden;
}

.hidden {
	display: none !important;
}

h1, h2 {
    color: #3d3659;
    font-weight: normal;
}

/*
input {
    margin: 10px 0 0 0;
    height: 24px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #DDDDDD;
    font-family: 'Dosis', sans-serif, verdana;
    font-size: 28px;
    color: #3d3659;
    resize: none;
    background: none;
    float: left;
    
    clear: both;
    
    padding: 30px;
}
*/

input[type="radio"] {
	position: relative;
	right: 3px;
	top: 3px;
}

div#startmenu {
	position: absolute;
	bottom: 0;
	left: 30%;
	right: 30%;


	padding: 10px;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

	background-color: rgba(255, 255, 255, 0.2);

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

	div#startmenu img {

		cursor: pointer;

		transition: all 0.1s ease-out;

		background-color: rgba(255, 255, 255, 1);

		background: rgb(226,226,226); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

		padding: 10px;
		border-radius: 5px;

		margin: 10px;
		height: 50px;
		width: 50px;

		opacity: 0.5;

		box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.75);
	}

	div#startmenu img:hover {
		opacity: 1;
		transform: scale(1.5);
	}


	div#startmenu:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('../img/wallpaper_background.png') repeat-x #3d3659 fixed;
		background-size: cover;
		filter: blur(6px);
		-webkit-filter: blur(6px);
		-moz-filter: blur(6px);
		-o-filter: blur(6px);
		-ms-filter: blur(6px);
		/*filter: url(#blur); */
		filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');

		filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");
	}

img.ajax-loader {
	margin: 10px;

	-webkit-animation: fadein 5s;
	-moz-animation: fadein 5s;
	-ms-animation: fadein 5s;
	-o-animation: fadein 5s;
	animation: fadein 5s;
}

div#desktop {
	position: relative;
	width: 100%;
	height: 100vh;
}

div.window {

	min-width: 250px;
	min-height: 150px;
	
	background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    
    position: absolute;

    
    top: 200px;
    left: 200px;

	padding-top: 36px;

	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

div.window:before {
	content: '';
	position: absolute;
	top: 0; left:0; right:0; bottom:0;
	background: url('../img/wallpaper_background.png') repeat-x #3d3659 fixed;
	background-size: cover;
	filter: blur(6px);
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);

	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
	filter: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur");

}

	div.window div.header {
		position: relative;
		bottom: 36px;

		text-align: left;
		padding: 4px 6px 0 6px;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.3) 56%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(56%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 56%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 56%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 56%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 56%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

		border-radius: inherit;
		
		text-shadow: 1px 1px 0 rgba(255,255,255,0.5);

		cursor: pointer;
	}

		div.window div.header h2 {
			font-size: 16px;
			font-weight: normal;
			color: #000000;
			margin: 0 20px 0 0;
		}

			div.window div.header h2 img {
				max-width: 15px;
				max-height: 15px;
				margin: 0 5px 0 2px;
				position: relative;
				top: 2px;
			}

	div.window .content {
		position: relative;
		bottom: 36px;

		text-align: left;
		margin: 6px;
		padding: 4px 4px 24px 4px;
		border: 1px solid rgba(0,0,0,0.2);;
		background: rgba(255,255,255,0.99);
		border-radius: 2px;
		overflow-y: scroll;
		height: 100%;
	}

	div.window .status {
		position: relative;
		bottom: 63px;

		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

		background: #F8F8F8;

		border-top: 1px solid #EEEEEE;
		height: 20px;
		margin: 0 24px 0 7px;

		color: #888888;


		font-family: verdana;
		font-size: 11px;
		text-align: left;
		padding: 0 5px;
		height: 20px;
		overflow: hidden;
		line-height: 18px;
	}

	div.window a.close {
		font-size: 14px;
	    display: block;
	    position: absolute;
	    top: 5px;
	    right: 5px;
	    
	    color: #000000;
	    text-decoration: none;

	    background: rgba(255,255,255,0);
	    padding: 0 4px 1px 4px;
	    border-radius: 2px;
	}

	div.window a.close:active {
		background: #FFEEEE;
	}

	div.window .resize {
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: 0.7;
	}

	div.window .resize:hover {
		cursor: se-resize;
	}


	div.window a.minify {
		font-size: 14px;
	    display: block;
	    position: absolute;
	    top: 5px;
	    right: 26px;
	    	    
	    color: #000000;
	    text-decoration: none;
	    
	    background: rgba(255,255,255,0);
	    padding: 3px 4px 0 4px;
	    border-radius: 2px;
	}

	    div.window a.close:hover, div.window a.minify:hover {
	        cursor: pointer;
		    -webkit-animation:glow 0.1s ease-out forwards;
		    -moz-animation:glow 0.1s ease-out forwards;
		    animation:glow 0.1s ease-out forwards;
	    }

	div.window p {
	    font-size: 28px;
	}

	div.window .popup {
		background: #EEEEEE;
		border: 1px solid #DDDDDD;
		width: 300px;
		border-radius: 5px;

		position: absolute;
		top: 200px;
		left: 10%;
		top: 30%;

		box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.6);
	}

		div.window .popup .header {
			bottom: 0;
			cursor: default;
		}

			div.window .popup .header h2 {
				text-align: center;
			}

		div.window .popup .content {
			bottom: 0;
			background: none;
			overflow: auto;
			border: none;
			font-family: verdana;
			font-size: 11px;
		}

		div.window .popup input[type="text"] {
			border: 1px solid #CCCCCC;
			padding: 5px;
			margin: 5px 0;
		}

		div.window .popup .submitbutton {
			border: 1px solid #AAAAAA;
			position: absolute;
			right: 0px;
			bottom: 0px;
			padding: 5px;
		}

	div.window .context-menu {
		color: #000000;
		height: 20px;
		position: relative;
		bottom: 30px;
		background: #EEEEEE;
		font-size: 11px;
		margin: 0 6px;
		border-top: 1px solid #DDDDDD;
		border-left: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;

		font-family: verdana;

		text-align: left;
		padding: 0;
	}

		div.window .context-menu ul {
			padding: 0;
			margin: 0;

			display: inline-block;

		}

			div.window .context-menu ul li {
				padding: 3px 10px 3px 5px;
				margin: 0;
				list-style: none;
				position: relative;

				-webkit-user-select: none; /* Chrome/Safari */
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* IE10+ */

				/* Rules below not implemented in browsers yet */
				-o-user-select: none;
				user-select: none;

				cursor: default;
			}

			div.window .context-menu ul li:hover {
				background: #DDDDDD;
			}

			div.window .context-menu ul li ul {
				padding: 0;
				background: #EEEEEE;
				border: 1px solid #AAAAAA;
				position: absolute;
				top: -1px;
				left: 0px;
				z-index: 2;
			}
				div.window .context-menu ul li ul li {

				}

	div.has-context-menu {
		padding-bottom: 21px !important;;
	}

.being-dragged {
	transform: scale(0.98);
	opacity: 0.5;
	cursor: move !important;
}

	div.being-dragged div.header {
		cursor: move !important;
	}

	.app-is-being-dragged {
		cursor: move !important;
	}

.being-resized {
	opacity: 0.9;
	cursor: se-resize !important;
}

	.app-is-being-resized {
		cursor: se-resize !important;
	}

/* Application specific*/

	/* RSS Reader */

	.rss-reader {
		font-size: 14px;
		padding: 0 !important;;
	}

		.rss-reader {
			padding-top: 20px !important;
		}

		.rss-reader h2 {
			font-size: 24px !important;
			padding: 10px 5px 10px 10px;
			border-top: 1px solid #E8E8E8;
			border-top-right-radius: 15px;

			position: relative;
			background: #FFFFFF;
		}

		.rss-reader h2:first-of-type {
			border-top: 5px #000000 solid !important;
		}

		.rss-reader h2:nth-child(3n) {
			border-top: 5px #66BB66 solid;
		}

		.rss-reader h2:nth-child(3n+1) {
			border-top: 5px #FF6666 solid;
		}

		.rss-reader h2:nth-child(3n+2) {
			border-top: 5px #6666DD solid;
		}

		.rss-reader a {
			font-size: 17px !important;
			line-height: 20px !important;

			position: relative;
			bottom: 0;
			left: 15px;
			display: block;
			transition: all 0.1s;
			padding: 0 5px 10px 10px;
		}

			.rss-reader a:hover {
				color: #EE7777;
			}
		
		.rss-reader img {
			border-radius: 4px;
		}

		.rss-reader p {
			font-size: 17px !important;
			line-height: 20px !important;
			padding: 0 5px 10px 10px;

			position: relative;
			bottom: 0px;
		}

	/* Image Manager */
	.image-manager {

	}

		.image-manager .thumbnail {
			float: left;
			background: #EEEEEE;
			text-align: center;
			margin: 15px;
			padding: 0px;

			border-radius: 3px;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;

			justify-content: center; /* align horizontal */
			align-items: center; /* align vertical */

			box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3);
		}

		.image-manager .thumbnail:hover {
			transform: scale(1.05);
		}

			.image-manager .thumbnail img {
				border-radius: inherit;
				cursor: pointer;
			}

	/* Memory */

	.memory {
		background: #3d9959 !important;
	}

		.memory .new-row {
			clear: left;
		}

		/* entire container, keeps perspective */
		.memory .card-container {
			display: block;
			float: left;
			margin: 2px;

			position: relative;
			perspective: 1000px;

			width: 200px;
			height: 280px;
		}

		.memory .card-container .flipper {
			transform-origin: 100% 105px; /* half of height */
		}

		/* flip the pane when hovered */
		.memory .card-open .flipper .back {
			transform: rotateX(0deg) scale(1) !important;

			-webkit-box-shadow: 30px 30px 30px 0px rgba(50, 50, 50, 0.25) !important;
			-moz-box-shadow:    30px 30px 30px 0px rgba(50, 50, 50, 0.25) !important;
			box-shadow:         30px 30px 30px 0px rgba(50, 50, 50, 0.25) !important;
		}

		/* flip the pane when hovered */
		.memory .card-open .flipper .front {
			transform: rotateX(180deg) scale(1) !important;
		}


		/* flip speed goes here */
		.memory .flipper {
			position: relative;

			width: inherit;
			height: inherit;
		}

		/* hide back of pane during swap */
		.memory .card-container .flipper .front, .card-container .flipper .back {
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;

			-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.75);
			box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.75);
		}

		/* front pane, placed above back */
		.memory .card-container .flipper .front {
			background: url('../img/amiga_game_card.png') no-repeat;
			background-size: 200px 280px;

			backface-visibility: hidden;
			transition: 0.8s;
			transform-style: preserve-3d;

			border-radius: 8px;

			width: inherit;
			height: inherit;

			z-index: 2;

			/* for firefox 31 */
			transform: rotateY(0deg) scale(0.8);
		}

		/* back, initially hidden pane */
		.memory .card-container .flipper .back {
			transform: rotateX(180deg) scale(0.8);

			backface-visibility: hidden;
			transition: 0.8s;
			transform-style: preserve-3d;

			background: #FFFFFF;
			border-radius: 8px;

			width: inherit;
			height: inherit;
		}

		/* Game images */

		.memory .card-container .flipper .back div {
			margin: 50% 5% 0 5%;
			width: 90%;
			height: 35%;
			border-radius: 10px;

			position: relative;

			text-align: center;
		}

		.memory .card-container .flipper .back div span {
			position: relative;
			top: -50px;
			left: 0px;
		}

		.memory .simon-the-sorcerer {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: 0px -352px;
		}

		.memory .cannon-fodder {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: 0px -20px;
		}

		.memory .flashback {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: 0px -124px;
		}

		.memory .it-came-from-the-desert {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: 0px -224px;
		}

		.memory .pirates {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: -180px 0px;
		}

		.memory .stunt-racer {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: -180px -140px;
		}

		.memory .beneath-a-steel-sky {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: -180px -250px;
		}

		.memory .leisure-suit-larry-3 {
			background: url('../img/amiga_game_pics.png') no-repeat;
			background-size: 200%;
			background-position: -180px -360px;
		}

/* Animations */

/* Spin */

.spin-animation {
	-webkit-animation:spin 8s linear infinite;
	-moz-animation:spin 8s linear infinite;
	animation:spin 8s linear infinite;
}

/* Spin */
@-moz-keyframes spin {
	100% { -moz-transform: rotateY(360deg); }
}
@-webkit-keyframes spin {
	100% { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
	100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); }
}
    
/* Glow */
    
.glow-animation {  
    -webkit-animation:glow 1s linear;
    -moz-animation:glow 1s linear;
    animation:glow 1s linear;
}

    @-moz-keyframes glow {
		from { background-color: rgba(255,255,255,0); box-shadow: 0 0 0px rgba(255,255,255,0); }
		to { background-color: rgba(255,255,255,1); box-shadow: 0 0 18px rgba(255,255,255,1); }

    }
    @-webkit-keyframes glow {
		from { background-color: rgba(255,255,255,0); -webkit-box-shadow: 0 0 0px rgba(255,255,255,0); }
		to { background-color: rgba(255,255,255,1); -webkit-box-shadow: 0 0 18px rgba(255,255,255,1); }
    }
    @keyframes glow {
		from { background-color: rgba(255,255,255,0); box-shadow: 0 0 0px rgba(255,255,255,0); }
		to { background-color: rgba(255,255,255,1); box-shadow:  0 0 18px rgba(255,255,255,1); }
    }

/* Fade In */

	/* Firefox < 16 */
	@-moz-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Opera < 12.1 */
	@-o-keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}