body {
    background: #222222;
    margin: 0;
    text-align: center;
    font-family: 'Indie Flower', sans-serif, verdana;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 40px;
}


h1, h2 {
    color: #9988AA;
}

input {
    margin: 10px 0 0 0;
    height: 24px;
    width: 100px;
    border: none;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #DDDDDD;
    font-family: 'Indie Flower', sans-serif, verdana;
    font-size: 28px;
    color: #3d3659;
    resize: none;
    background: none;
    float: left;
    
    clear both;
    
    padding: 30px;
}


div {
    background: #FFFFFF;
    float: left;
    margin: 40px;
    padding: 40px;
    border-radius: 5px;
    
    position: relative;
}

div p {
    font-size: 28px;
}

div span {
    display: block;
    position: absolute; 
    
    top: -30px;
    left: 80px;

    color: #FFFFFF;
    padding: 5px;
}

div span.red {
    background: #EE7777;
}

div span.green {
    background: #66DD66;
}

button {
    line-height: 28px;
    border-radius: 5px;
    background: #6D416D;
    color: #FFFFFF;
    border: none;
    font-family: 'Indie Flower', sans-serif, verdana;
    font-size: 20px;
    padding: 2px 8px;
    cursor: pointer;
    margin: 5px;
    clear: both;
    float: left;
    width: 150px;
}